#logo {
	filter: blur(0px);
	opacity: 1; 
	width: 50px;
	margin: 10px -10px -7px 12px;
	border-radius: 10; }
#author-logo {
	width: 30px;
	height: 30px;
	border-radius: 50%; 
	margin: 10px 3px -10px 30px; }
#author-stats {
	font-size: 12px;
	color: #A7A3A3;
	text-align: left;
	margin: -25px 0px 0px 70px; }
#path-web {
	font-family: sans-serif;
	color: #F7FCDD;
	font-size: 13px;
	text-align: left;
	margin: -15px 0px 0px 30px; }
#sub-title {
	font-weight: normal;
	color: #E0D275;
	font-size: 20px; 
	margin: -5px 0px 0px 0px; }
h1 {
	color: #AAE5CE; 
	font-size: 50px; 
	text-align: left; 
	height: 60px;
	margin: 0px 0px 30px 5px; }
h2 {
	font-size: 35px;
	color: #F9FF97;
	text-align: left;
	margin: 0px 0px 0px 30px;	}
body {
	background-color : #323131; 
	font-family: Verdana; 
	margin: 0px 0px 0px 0px; 
	padding: 0px; 
	width: 100%;
	height: 100%; 
	max-height: 1000px;
	max-width: 1000px; 
	padding: 10px;
	margin: auto;}
p {
	margin: 20px 30px 0px 30px;			
	text-align: center; 
	font-size: 15px; 
	color: #E5FFFC; 
	text-align: justify; }	
ul {
	margin: 20px 0px 0px 8px;
	font-size: 17px; 
	color: #E5FFFC; 
	text-align: justify; }	
div {
	margin: 0px 0px -15px 0px; }
hr {
	display: ruby-base-container; }
a {
	color: #FDCBFF;
	text-decoration: none;}
#tagline {
	text-align: left; 
	font-size: 18px;  
	width: 530px;
	margin: -35px 40px 0px 85px; 
	color: #8DCBC4; }
#hr-top {
	margin: 11px 30px 10px 30px; 
	text-align: center; 
	height: 0px; }
#hr-mid {
	margin: 12px 30px 10px 30px; 
	text-align: center; 
	height: 0px;}
#hr-bot {
	margin: 30px 30px -5px 30px; 
	text-align: center;			
	height: 0px; }
#footwork {
	margin: 14px 0px 40px 0px;						
	text-align: center; 
	font-size: 10px; 
	color: #FFFFFF; }
#bold-phrase {
	color: #74EEA5; }
